#course-area {
  padding: 2rem;
  max-height: calc(100% - 4rem);

  display: flex;
  flex-direction: column;
}

.selectable-item {
  padding: 0.5rem;
  transition: 0.15s;
  border-radius: 0.5rem;
  cursor: pointer;
}

.content-message {
  /* To be displayed if the content area is
  displaying one singular message */
  font-size: xx-large;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ################## COURSE INFO ################## */

.course-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Horiz flexbox containing name | grow | GPA+credit */
.course-info-box {
  display: flex;
  flex-direction: row;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  flex-grow: 1;
}

.course-name {
  /* Override .cap-text's display: -webkit-box as it doesn't work well
  if the div is a flex child for whatever reason. */
  display: block !important;

  font-size: xxx-large;
  font-weight: bold;
  white-space: nowrap;
  min-width: 0;
}

/* Vertical flexbox containing GPA and credit */
.course-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: nowrap;
  text-align: right;
}

.course-gpa {
  font-size: x-large;
}

.category-list {
  /* Unstick scrollbar from select outline */
  padding: 0.1rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

/* ################## ONE CATEGORY CONTAINER ################## */
/* Each are a list element in category-list */
.category-item {
  width: 100%;
}

/* ========== HEADER ========== */
/* Flexbox containing category-header-box and the plus
so that the formatting doesn't break when the plus appears
also contains all the logic so that the plus appears on
hover */
.category-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3.5rem;
}

.content-plus {
  height: 1.5rem;

  /* Relating to appearing on hover */
  transition: 0.05s ease-in-out;
  width: 0;
  object-fit: cover;
  border-radius: 50%;
}

/* Only display plus if selected */
.category-header:hover>.content-plus, 
.course-info:hover>.content-plus{
  margin: 0.4rem;
  padding: 0.5rem;
  /* Make hitbox bigger */
  width: auto;
}

/* Child of category-header as said above. Mostly here
so that its children don't break */
.category-header-box {
  /* max-width & min-width are here to constrain its
  children from overflowing rather than ellipsing. */
  max-width: 100%;
  min-width: 0;
  /* flex-grow to push back the plus (recall this is
  a flex-element) */
  flex-grow: 1;
}

/* Flexbox containing the name and weight. Name and
points are in separate flex-tems so that the name can
ellipse. */
.category-header-top {
  white-space: nowrap;
  font-size: x-large;

  display: flex;
  flex-direction: row;
}

.category-name {
  display: block !important;
  font-weight: bold;
  flex-grow: 1;
  /* Push back weight */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category-description {
  /* Overrides cap-text line limit */
  -webkit-line-clamp: 2 !important;
}

/* ################## ONE GRADE CONTAINER ################## */
/* Container for one grade item. Each is an element in
the grade-list (itself part of a category) */

/* Horiz flexbox with grade name/desc | points/weight */
.grade-item {
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
}

/* Contains either the grade name/desc or points/weight */
.grade-vert-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grade-vert-box:first-child {
  /* First one is always name/desc:
  allow pushing back points/weight */
  flex-grow: 1;
  min-width: 0; /*In case weight starts pushing*/
}

.grade-name {
  font-size: x-large;
}

.grade-description {
  -webkit-line-clamp: 2 !important;
}

.grade-score,
.grade-weight {
  white-space: nowrap;
  text-align: right;
}

.grade-score {
  font-size: x-large;
}

/* ################## ACCOUNT SETTINGS ################## */
.option-item {
  font-size: x-large;
}
