/* Material design inspired input fields that "light up" when selected and otherwise
don't stand out (except for a bottom edge) when unused. */

.dash-input, .dash-textarea {
  background: none;
  transition: 0.1s;

  margin: 0;
  padding: 0.5rem 0.2rem 0.5rem 0.2rem;

  border: none;
  border-bottom: solid 1px;
  border-radius: 0;

  font-size: large;
}

.dash-input:focus, .dash-input:hover, .dash-textarea:focus, .dash-textarea:hover {
  outline: none;
  /* See color.css for more details on focus formatting. */
}

.dash-textarea:focus, .dash-textarea:hover {
  border-bottom-width: 3px ;
}

.dash-input[type="date"] {
  /* Segoe UI looks pretty bad so I changed it */
  font-family: 'Verdana', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dash-textarea {
  resize: vertical;
  /* For whatever reason fonts are reset inside textareas */
  font-family: 'Segoe UI', 'Verdana', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.input-small {
  /* Designed for 3 or less characters */
  text-align: center;
  width: 3em;
}