/* This file contains all the colours from the other files
to allow dark mode. This file should be loaded AFTER the
dark mode colour css file to take priority. */

/* #################### FROM STYLES.CSS ####################  */
body {
  background-color: white;
  color: black;
}

input, textarea {
  color: black;
}

/* From styles.css */
.horizontal-line {
  background-color: #d9d9d9;
}
.horizontal-line-bold {
  background-color: #818181;
}

/* Scrollbar related */
::-webkit-scrollbar-track { background: #f0f0f0; }
::-webkit-scrollbar-thumb { background: #cdcdcd; }
::-webkit-scrollbar-thumb:hover { background: #a6a6a6; }

/* Color for cards (sidebar and preview) */
.card {
  background-color: #f2f2f2;
  box-shadow: 0px 1px 2px 0px #3c3c3c66, 0px 1px 3px 1px #3c3c3c28;
}

/* #################### FROM SIDEBAR.CSS ####################  */
/* Sidebar elements change colour when hovered or selected */
.sb-selectable:hover, .sb-selected {
  background-color: #bfbfbf;
}

/* #################### FROM CONTENT.CSS ####################  */

/* Selectable course items also change colours. */
.selectable-item:hover, .selected-item, .category-header:hover {
  background-color: #d9d9d9;
}

/* When the plus is selected, we want it to be darker than
the category's select colour */
.category-header:hover img:hover {
  background-color: #a8a8a8;
}

/* #################### FROM CONTENT.CSS ####################  */
input, textarea {
  border-bottom-color: #d9d9d9;
}

input:focus, input:hover {
  /* To make the bottom of the text-box thicker while focussed
  without changing the bottom-border (which would cause the text
  to jump), use a linear gradient from top to bottom, where the
  96% top is transparent, and the bottom 4% is the same colour
  as the border.
  /* Not getting rid of the border here to avoid text jumping */
  background: linear-gradient(to bottom, #00000000 96%, #d9d9d9 4%), white;
}

input:focus, input:hover, textarea:focus, textarea:hover {
  background-color: white;
}