/* //////////// SIDEBAR //////////// */
#sidebar-card {
  display: flex;
  flex-direction: column;
  /* Recall: mar=1 padd=1 up & down */
  height: calc(100% - 4rem);
  overflow: auto;
}

#sidebar-card::-webkit-scrollbar {
  display: none;
}

.sb-selectable {
  transition: 0.2s;
  border-radius: 0.4rem;
}

.sb-selectable:hover {
  background-color: rgb(191, 191, 191);
}

/* //////////// SIDEBAR SELECT //////////// */
/* ++ Header ++ */
.sb-select-header {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;


  max-height: 3rem;
  height: 3rem;
  overflow: hidden;
}

.sb-select-header-ico {
  height: auto;
  width: 2.2rem;
}

.sb-select-header-txt {
  /* Push "+" to right */
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;

  font-weight: bold;
  font-size: x-large;
}

.sb-select-header-plus {
  border-radius: 50%;
  height: 50%;
}

/* ++ List ++ */
.sb-list {
  display: flex;
  flex-direction: column;
  max-height: 15rem;

  /* Relating to overflow */
  overflow: auto;
  /* Firefox only for now :( */
  scrollbar-width: thin;
}

.sb-list-element {
  padding: 0.5rem;
  padding-left: 1rem;
  font-size: large;
  border-radius: 0.5rem;
  text-align: left;
}

.sb-list-element:hover {
  background-color: rgb(191, 191, 191);
}

/* //////////// SIDEBAR GPA //////////// */
#gpa-container {
  display: flex;
  justify-content: center;
  font-size: x-large;
  display: flex;
  flex-direction: row;
}

/* //////////// SIDEBAR PROFILE //////////// */
#user-container {
  display: flex;
  padding: 0.5rem;
}

#user-container>div {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
  overflow: hidden;
  justify-content: center;
}

#user-container>img {
  height: 2.5rem;
  border: solid;
  border-radius: 100%;
}

/* //////////// SIDEBAR LOGOUT & PRIVACY //////////// */
.sb-item {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  height: 2rem;
}

.sb-item>div {
  display: flex;
  align-items: center;
  font-size: large;
  padding-left: 0.5rem;
}