body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  width: 100vw;
  height: 100vh;

  /* Stolen from create-react-app */
  font-family: 'Montserrat', 'Futura', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.card {
  background-color: rgb(242, 242, 242);
  
  overflow: hidden;
  border-radius: 1.5rem;
  padding: 1rem;
  margin: 1rem;
  max-height: calc(100% - 4rem);
  
  box-shadow: 0 0 0.5rem 0.1em rgb(172, 172, 172);
}

#page-container>div {
  height: 100%;
}

/* Basic box containing the card to avoid weird things happening due to the card's padding and margin. */
#sidebar-container {
  width: 25%;
  min-width: 17rem;
  max-width: 25rem;
  max-height: 100%;
  overflow: hidden;
}

#content-container {
  background-color: orangered;
}

#preview-container {
  background-color: blanchedalmond;
}

.horizontal-line {
  background-color: rgb(217, 217, 217);
  height: 2px;
  flex-shrink: 0;
}